@import url("variables.css");
@import url("contenedor.css");
@import url("header.css");
@import url("nav.css");
@import url("main.css");
@import url("footer.css");
@import url("animaciones.css");
@import url("tickets.css");
@import url("media_query.css");

@font-face {
    font-family: 'cursiva';
    src: url('../fonts/fuente_cursiva.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

/* VISTA PREVIA DE EMOTICONOS */
/* https://www.dafont.com/es/gym.font */
@font-face {
    font-family: 'gym_emojis';
    src: url('../fonts/GYM.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}